:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

// Components ------------------
// Font Sizes
.text-heading-1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 3rem;
  color: var(--very-dark-cyan);
  text-align: center;
  margin: 0;
  max-width: 20ch;

  @media (min-width: 900px) {
    font-size: 3.75rem;
    text-align: left;
  }
}
.text-heading-2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 2.3rem;
  color: var(--very-dark-cyan);
  text-align: center;

  @media (min-width: 900px) {
    font-size: 3.4rem;
    text-align: left;
  }
}
.text-heading-3 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 2.4rem;
  color: var(--very-dark-cyan);
  text-align: center;
}
.text-paragraph {
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: center;

  @media (min-width: 900px) {
    text-align: left;
  }
}

// Font Color
.color-gray {
  color: var(--grayish-blue);
}

// Font Weights
.weight-400 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  font-size: 1.5rem;

  a:hover {
    text-decoration: underline;
  }
}

.container {
  width: 87.5%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 0;
}

.btn {
  cursor: pointer;
  border-radius: 4rem;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
  font-weight: 700;
  font-size: 1.5rem;
}
.btn-primary {
  background-color: var(--pink);
  padding: 1.3rem 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;

  @media (min-width: 900px) {
    padding: 1.5rem 5rem;
  }

  &:hover {
    background: hsl(322, 60%, 66%);
  }
}
.btn-secondary {
  background-color: #ffffff;
  padding: 0.6rem 2rem;

  @media (min-width: 900px) {
    padding: 1rem 4rem;
  }

  &:hover {
    color: var(--grayish-blue);
  }
}

// Styles ---------------------------
header {
  background: #eefbfe url(../images/bg-hero-mobile.svg) no-repeat center;
  background-size: cover;

  @media (min-width: 900px) {
    background: #eefbfe url(../images/bg-hero-desktop.svg) no-repeat center;
    background-size: cover;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;

  .logo-container {
    width: 50%;
    max-width: 200px;
    .nav-logo {
      width: 100%;
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 8rem auto;

  .hero__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    max-width: 490px;

    @media (min-width: 900px) {
      align-items: flex-start;
    }
  }

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: center;
    & > * {
      flex-basis: 100%;
    }
  }
}
.hero__image {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 100%;
    max-width: 700px;
    object-fit: contain;
  }
}

main {
  position: relative;
  margin: 10rem auto;
  padding-bottom: 10rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;

  &__image {
    min-height: 25rem;
    width: 100%;

    &--1 {
      background: url(../images/illustration-grow-together.svg) no-repeat center;
      background-size: contain;
    }
    &--2 {
      background: url(../images/illustration-flowing-conversation.svg) no-repeat
        center;
      background-size: contain;
    }
    &--3 {
      background: url(../images/illustration-your-users.svg) no-repeat center;
      background-size: contain;
    }
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 900px) {
    flex-direction: row-reverse;
    &:nth-child(2) {
      flex-direction: row;
    }
    padding: 4rem;

    &__image {
      min-width: 30rem;
    }
    &__texts {
      padding: 4.5rem;
    }
  }
}

.card-box {
  position: absolute;
  bottom: -17rem;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: 15px;
  padding: 4rem 2rem;
  width: 87.5%;
  max-width: 600px;
}

footer {
  background-color: #0f2932;
  color: #deeeed;
  padding: 12rem 0 4rem;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media (min-width: 900px) {
      flex-direction: row;
      align-items: center;
      & > * {
        flex-grow: 1;
      }
    }
  }

  .footer-logo {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    h2 {
      color: #fff !important;
      font-size: 2.75rem;
    }
  }

  .footer__col {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .col__item {
      display: flex;
      svg {
        flex-basis: 4.5rem;
      }
      p {
        line-height: 1.4;
        font-size: 1.5rem;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > .fab {
      width: 30px;
      height: 30px;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #def6f8;
      border-radius: 50%;

      &:hover {
        color: var(--pink);
        border-color: var(--pink);
      }
    }
  }

  .copyright {
    font-size: 1.35rem;
    text-align: center;
    margin-top: 1rem;
    color: #81969a;

    @media (min-width: 900px) {
      position: absolute;
      margin-top: 0;
      right: 7rem;
      bottom: -2rem;
    }
  }
}
