/* My Notes =>  
- Mobile: 375px
- Desktop: 1440px

font: 18px

heading: poppins 600
body: opensans 400,700
*/
:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text-heading-1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 3rem;
  color: var(--very-dark-cyan);
  text-align: center;
  margin: 0;
  max-width: 20ch;
}

@media (min-width: 900px) {
  .text-heading-1 {
    font-size: 3.75rem;
    text-align: left;
  }
}

.text-heading-2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 2.3rem;
  color: var(--very-dark-cyan);
  text-align: center;
}

@media (min-width: 900px) {
  .text-heading-2 {
    text-align: left;
  }
}

.text-heading-3 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 2.4rem;
  color: var(--very-dark-cyan);
  text-align: center;
}

.text-paragraph {
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: center;
}

@media (min-width: 900px) {
  .text-paragraph {
    text-align: left;
  }
}

.color-gray {
  color: var(--grayish-blue);
}

.weight-400 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 87.5%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 1rem 0;
}

.btn {
  cursor: pointer;
  border-radius: 4rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-primary {
  background-color: var(--pink);
  padding: 1.3rem 5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
}

@media (min-width: 900px) {
  .btn-primary {
    padding: 1.5rem 5rem;
  }
}

.btn-primary:hover {
  background: #dc74b6;
}

.btn-secondary {
  background-color: #ffffff;
  padding: 0.6rem 2rem;
}

@media (min-width: 900px) {
  .btn-secondary {
    padding: 1rem 4rem;
  }
}

.btn-secondary:hover {
  color: var(--grayish-blue);
}

img {
  max-width: 100%;
}

header {
  background: #eefbfe url(../images/bg-hero-mobile.svg) no-repeat center;
  background-size: cover;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

nav .logo-container {
  width: 50%;
  max-width: 180px;
}

nav .logo-container .nav-logo {
  width: 100%;
  max-width: 200px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  margin: 8rem auto;
}

.hero-container .hero__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.75rem;
  max-width: 490px;
}

@media (min-width: 900px) {
  .hero-container .hero__texts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 900px) {
  .hero-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-container > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.hero__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__image img {
  width: 100%;
  max-width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  position: relative;
  margin: 10rem auto;
  padding-bottom: 10rem;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 3rem;
  border-radius: 15px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
}

.card__image {
  min-height: 25rem;
  width: 100%;
}

.card__image--1 {
  background: url(../images/illustration-grow-together.svg) no-repeat center;
  background-size: contain;
}

.card__image--2 {
  background: url(../images/illustration-flowing-conversation.svg) no-repeat center;
  background-size: contain;
}

.card__image--3 {
  background: url(../images/illustration-your-users.svg) no-repeat center;
  background-size: contain;
}

.card__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media (min-width: 900px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 4rem;
  }
  .card:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card__image {
    min-width: 30rem;
  }
  .card__texts {
    padding: 4.5rem;
  }
}

.card-box {
  position: absolute;
  bottom: -17rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  border-radius: 15px;
  padding: 4rem 2rem;
  width: 87.5%;
  max-width: 600px;
}

footer {
  background-color: #0f2932;
  color: #fff;
  padding: 9rem 0 4rem;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
/*# sourceMappingURL=style.css.map */