/* My Notes =>  
- Mobile: 375px
- Desktop: 1440px

font: 18px

heading: poppins 600
body: opensans 400,700
*/

:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

// Components ------------------
// Font Sizes
.text-heading-1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 3rem;
  color: var(--very-dark-cyan);
  text-align: center;
  margin: 0;
  max-width: 20ch;

  @media (min-width: 900px) {
    font-size: 3.75rem;
    text-align: left;
  }
}
.text-heading-2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 2.3rem;
  color: var(--very-dark-cyan);

  @media (min-width: 700px) {
    text-align: left;
  }
}
.text-paragraph {
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: center;

  @media (min-width: 700px) {
    text-align: left;
  }
}

// Font Color
.color-gray {
  color: var(--grayish-blue);
}

// Font Weights
.weight-400 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 87.5%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 1rem 0;
}

.btn {
  cursor: pointer;
  border-radius: 4rem;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
  font-weight: 700;
  font-size: 1.5rem;
}
.btn-primary {
  background-color: var(--pink);
  padding: 1.3rem 4.75rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;

  @media (min-width: 900px) {
    padding: 1.5rem 5rem;
  }

  &:hover {
    background: hsl(322, 60%, 66%);
  }
}
.btn-secondary {
  background-color: #ffffff;
  padding: 0.6rem 2rem;

  @media (min-width: 900px) {
    padding: 1rem 4rem;
  }

  &:hover {
    color: var(--grayish-blue);
  }
}

img {
  max-width: 100%;
}

// Styles
header {
  background: #eefbfe url(../images/bg-hero-mobile.svg) no-repeat center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;

  .logo-container {
    width: 50%;
    max-width: 180px;
    .nav-logo {
      width: 100%;
      max-width: 200px;
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 8rem auto;

  .hero__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    max-width: 490px;

    @media (min-width: 900px) {
      align-items: flex-start;
    }
  }

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: center;
    & > * {
      flex-basis: 100%;
    }
  }
}
.hero__image {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 100%;
    max-width: 700px;
    object-fit: contain;
  }
}

main {
  margin: 8rem auto;
}
